extends: '@danny.andrews/eslint-config'
rules:
  no-restricted-syntax:
    - error
    - AwaitExpression
  no-underscore-dangle:
    - error
    - allow:
      - __
env:
  node: true
  browser: false
