{
  "include": [
    "./packages/*/src/"
  ],
  "exclude": [
    "**/src/test/",
    "**/__tests__/"
  ],
  "reporter": [
    "html",
    "text"
  ],
  "check-coverage": true,
  "per-file": false,
  "lines": 90,
  "statements": 90,
  "branches": 70
}
